.site-container {
  display: flex;
  flex-direction: column;
  margin-top: 30px;

  p {
    text-align: center;
  }

  .site-form {
    display: grid;
    grid-template-columns: 4fr 1fr;
    margin-top: 15px;

    input {
      //       border-radius: 3px;
      border: 1px solid $input;
      border-radius: 3px;
      &:focus {
        outline: none !important;
        border: 1px solid #eee;
        box-shadow: 0 0 3px #719ece;
      }
    }

    .button {
      padding: 5px 10px;
      background-color: $button;
      border: none;
      border-radius: $button-radius;

      &:hover {
        background-color: $button-hover;
      }
    }
  }
}
